<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proyecto5 Bootstrap</title>
  

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/aos.js"></script>
      <script src="../js/smoothscroll.js"></script>
      <script src="../js/custom.js"></script>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">
     <link rel="stylesheet" href="../css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../css/egogym.css">

</head>
  

<body>

  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="../index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="../index.html#Home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#schedule" class="nav-link smoothScroll">Calendario</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#contact" class="nav-link smoothScroll">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <!---->
                        <div class="btn-group-sm"> 
                            <a href="../index.html#membershipForm" class="btn btn-sm custom-btn bg-color "  data-toggle="modal" data-target="#membershipForm">Inicia Sesión</a> 
                    </li>
                </ul>

            </div>

        </div>
    </nav>


 <div class="container">
   
        <br>
        <br>
        <br>
        <br>
               

            <div class="row">
              <div class="col-12 col-xs-12 col-lg-6 card-text-center">
                  <h2 class="text-center">ENTRENA CON NOSOTROS</h2>
                  <p style="font-size: 20px; text-align: justify;">
                    El boxeo es uno de los deportes más completos que existen, además de ayudarte a fortalecer todo tu cuerpo, con su práctica pierdes peso, 
                    tonificas tus músculos, aumentas tu resistencia, mejoras tu sistema cardiovascular, aumentas la fuerza, mejoras tu memoria, concentración y
                    el control que tienes sobre tu cuerpo.
                  </p>
                    <p style="font-size: 20px; text-align: justify;">
                    Por estos beneficios es que ahora existen muchas modalidades para que todos podamos practicarlo, no necesariamente debe ser un deporte de contacto,
                    “salvaje o agresivo”, con nuestros entrenadores puedes encontrar clases particulares o grupal. 
                  </p>
  
                  <br>                 
                  <div class="col-12 col-lg-12 card text-center">
                  <a href="../index.html#serv" class="btn btn-outline-success btn-lg">Regresar a Servicios</a>
                  </div>
              
              </div>
              <div class="col-12 col-lg-6 text-center">
                  <img src="../images/class/BeneficiosBox.jpg" class="img-fluid">
                </div>
              </div>
              <br>
              
            
            <br>
            
              

            <div class="row">
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                <strong>Mantiene la masa ósea:</strong> por lo general cuando haces un ejercicio de alto impacto este genera una carga importante sobre los huesos,
                alrededor de los 30 años la masa ósea (volumen del hueso contenedor dado por la cantidad de minerales) 
                empieza a disminuir por causas naturales, es por esto que si la trabajas de manera constante y con una buena técnica, se mantendrá.
                </p>
            </div>
            <br><br>
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                <strong>Quema grasa:</strong> como te contamos, durante una clase de boxeo se pueden quemar entre 900 a 1.000 calorías, la combinación entre el 
                ejercicio aeróbico y la fuerza para pegarle al saco o al oponente, hace de este el mejor deporte “quemagrasas”. Por lo mismo 
                aumenta la energía, refuerza el sistema inmunológico y ayuda con la eliminación de toxinas que hay en el cuerpo.
                </p>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 text-center mb-4">
                    <img src="../images/class/BoxeoKids.jpg" class="img-fluid">
                </div>
            
                <div class="col-12 col-lg-6 text-center mb-4">
                    <img src="../images/class/EntrenadorBox2.jpg" class="img-fluid">
                </div>
            </div>
  
            
            <br><br>
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                <strong>Defensa personal:</strong> saber de defensa personal nos puede servir a todos en algún momento de nuestra vida, un profesor de boxeo te
                 enseñará los mejores golpes y las técnicas más funcionales para defenderte.
                </p>
            </div>
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                <strong>Aumento de tu resistencia fisica:</strong> El boxeo, al ser un deporte de alto impacto, ayuda a mejorar tu capacidad aeróbica y tu 
                resistencia anaeróbica. Esto supone, además, un incremento del volumen de ventilación pulmonar que reduce la presión arterial y, en consecuencia, 
                el riesgo de padecer una enfermedad cardiovascular. 
            </div>
            </div>
            <br><br>
    </div>
    </div>
</body>
</html>

