<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proyecto5 Bootstrap</title>
  

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/aos.js"></script>
      <script src="../js/smoothscroll.js"></script>
      <script src="../js/custom.js"></script>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">
     <link rel="stylesheet" href="../css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../css/egogym.css">

</head>
  

<body>

  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="../index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="../index.html#Home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#schedule" class="nav-link smoothScroll">Calendario</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#contact" class="nav-link smoothScroll">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <!---->
                        <div class="btn-group-sm"> 
                            <a href="#" class="btn btn-sm custom-btn bg-color "  data-toggle="modal" data-target="#membershipForm">Inicia Sesión</a> 
                    </li>
                </ul>

            </div>

        </div>

        </div>
    </nav>

    
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="text-center"></h2>
            
        </div>
        
        <br>
        
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-6 card-text-center">
                <h2 class="text-center">¿Qué es un entrenador de gym personal?</h2>
                <p style="font-size: 20px; text-align: justify;">
                    Un entrenador de gym personal es un profesional del fitness, calificado en actividades físicas, que indica ejercicios a sus clientes, 
                    así como también fija metas de forma individualizada y los motiva para sus logros.  Estos entrenamientos y metas se fijan teniendo en 
                    cuenta las condiciones físicas y los objetivos que deseen alcanzar de cada uno de sus clientes.  

                    El entrenamiento personal se considera como uno de los 10 mejores servicios de 
                    actividad física. El éxito del entrenamiento personal se debe a los beneficios y satisfacción que se obtienen por la atención
                     personalizada a cada cliente.
                </p>

                
                
                <div class="col-12 col-lg-12 card text-center">
                <a href="../index.html#serv" class="btn btn-outline-success btn-lg">Regresar a Servicios</a>
                </div>
            
            </div>
       
            <div class="col-12 col-lg-6 text-center">
                <img src="../images/class/InstructorPesas.JPG" class="img-fluid">
              </div>
            </div>
            <br>
            
              

            <div class="row">
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                <strong>Mantiene la masa ósea:</strong> Seguramente en más de una oportunidad has sabido de alguien que se inscribe en el gimnasio con toda la 
                emoción y disposición del mundo, y en dos semanas deja de asistir… Pues esto, en muchas ocasiones se debe a la falta de fuerza de voluntad para
                 ir regularmente a realizar ejercicios. Este tema afecta sobre todo a los principiantes, es por esto que, es a quienes más se les recomienda tener
                  un entrenador de gym personal, pues dentro de las ventajas más destacadas tenemos:</p>
                <p style="font-size: 20px; text-align: justify;">
                - La motivación personalizada que transmite este profesional a sus clientes.
                </p>
                <p style="font-size: 20px; text-align: justify;">
                - Le impulsa y orienta a seguir el programa establecido, de forma constante y consiente.
                </p>
                
                    
            </div>
            <br><br>
            <div class="col-12 col-xs-12 col-lg-6">
                <p style="font-size: 20px; text-align: justify;">
                - La persona que contrata a un entrenador personal, se asegura de obtener los mejores resultados posibles.
                </p>
                <p style="font-size: 20px; text-align: justify;">
                - El cliente o alumno logra un mejor resultado de su entrenamiento.
                </p>
                <p style="font-size: 20px; text-align: justify;">
                - EL entrenador  se esforzará para mejorar la técnica de su cliente.
                </p>
                <p style="font-size: 20px; text-align: justify;">
                - Un entrenado de gym, hará que su cliente supere los estados de estancamiento y le enseñara los aspectos necesarios para que aprenda a diseñar sus propios programas.
                </p>
                <p style="font-size: 20px; text-align: justify;">
                - Este profesional del fitness se asegurará de que la postura y la forma de ejecutar los ejercicios de su cliente sea la correcta, lo que en definitiva es una garantía para entrenar de manera segura y evitar lesiones.   </p>
                </p>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 text-center mb-4">
                    <img src="../images/class/Snatch.jpg" class="img-fluid">
                </div>
            
                <div class="col-12 col-lg-6 text-center mb-4">
                    <img src="../images/class/LevelUp.jpg" class="img-fluid">
                </div>
            </div>
  
            
            
    </div>
    </div>
</body>
</html>

