<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fisioterapia</title>
  

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/aos.js"></script>
      <script src="../js/smoothscroll.js"></script>
      <script src="../js/custom.js"></script>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">
     <link rel="stylesheet" href="../css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../css/egogym.css">

</head>
  

<body>

  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="../index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="../index.html#Home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#schedule" class="nav-link smoothScroll">Calendario</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#contact" class="nav-link smoothScroll">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <!---->
                        <div class="btn-group-sm"> 
                            <a href="#" class="btn btn-sm custom-btn bg-color "  data-toggle="modal" data-target="#membershipForm">Inicia Sesión</a> 
                    </li>
                </ul>

            </div>

        </div>

    </nav>
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="text-center"></h2>
    </div>
   
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6 card-text-center">
      <h2 class="text-center">¿QUÉ HACE UN FISIOTERAPEUTA?</h2>
      <p style="font-size: 20px; text-align: justify;"> 
        Un buen fisioterapeuta deportivo no sólo cura sobre la lesión, sino gran parte de su trabajo es asesorar
         a los deportistas para que, gracias a una correcta ejecución de los ejercicios y movimientos, puedan evitar lesiones.

      </p>
      <p style="font-size: 20px; text-align: justify;">
        Muchas lesiones se producen por una mala postura repetida continuamente en el tiempo. Corregir y explicar estos errores antes de que
         se produzcan es parte de esta tarea de divulgación y prevención propia del fisioterapeuta deportivo.

        Conocer y anticiparse a las lesiones es parte del compromiso de trabajo de estos profesionales de la salud.</p>

          
      <div class="col-12 col-lg-12 card text-center">
        <a href="https://www.ejemplo.com/agenda" class="btn btn-outline-danger btn-lg">Agenda una cita</a>
        <a href="../index.html#serv" class="btn btn-outline-success btn-lg">Regresar a Servicios</a>
      </div>
    
    <br>
    </div>
       
    <div class="col-12 col-lg-6 card text-center">
      <img src="../images/class/Fisioterapia.jpg" class="img-fluid">
    </div>
  </div>

  <br>
  <br>      

  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>Asesoramiento sobre nuestros entrenamientos</strong> Especialmente cuando somos principiantes, es más que posible que realicemos 
      los ejercicios de manera incorrecta, corriendo riesgos para nuestro cuerpo. Esto también ocurre cuando tenemos experiencia en el gimnasio
       y nos confiamos con respecto a nuestros conocimientos, ya que es posible que estemos haciendo de manera crónica algún ejercicio en una postura incorrecta.
       Un fisioterapeuta nos asesorará y dará información sobre nuestra posición corporal durante los ejercicios en conjunto con las indicaciones de tu entrenador,
         de manera que evitemos riesgos.
      </p>
    </div>
    <br><br>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong> Corrección postural en los ejercicios</strong>No solo nos asesorarán, sino que, de hecho, podrán corregirnos las posturas. Si acudimos al gimnasio 
      y en el mismo hay el servicio de un fisioterapeuta, podrá observar cómo hacemos los ejercicios, corregirnos la postura e indicarnos cómo tenemos que colocarnos
       exactamente para no sufrir daños.

      Nos podrán informar de qué estamos haciendo mal, qué errores cometemos y qué lesiones nos pueden causar. Tener toda la información nos ayudará a evitar daños.
      </p>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6 card text-center mb-4">
          <img src="../images/class/Masaje.jpg" class="img-fluid">
      </div>
  
      <div class="col-12 col-lg-6 card text-center mb-4">
          <img src="../images/class/SPA.jpg" class="img-fluid">
      </div>
  </div>
  

    <br><br>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>Conocer las lesiones más habituales y prevenirlas</strong> Para poder evitar sufrir lesiones, lo primero que debemos saber es a qué tipo 
      de lesiones estamos expuestos y por qué.  No todos los deportes comprenden el mismo riesgo de lesiones ni del mismo tipo. Por ello, cuando acudimos
       a entrenarnos a un gimnasio, es importante que estemos informados sobre qué lesiones son las más habituales con nuestro tipo de entrenamiento.

      Un fisioterapeuta podrá informarnos de ello y darnos las herramientas necesarias para prevenirlas. Además, podrá tratar de manera preventiva la parte
       de nuestra musculatura que más sufra, de manera que esté bien preparada para los entrenamientos.</p>
    </div>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>Evaluación física previa</strong> Antes de nada, cuando empezamos en el gimnasio, muchos de ellos nos hacen pruebas físicas para conocer nuestro
       estado y saber nuestro nivel. Del mismo modo, un fisioterapeuta podrá hacernos una evaluación de nuestro estado físico, muscular, articular, etc.

      De esta manera, podrá informarnos en qué condiciones estamos, si tenemos riesgo de lesionarnos o no, o si hay ejercicios que es mejor que no realicemos
       por el momento, o si tenemos algo que reforzar antes de introducirnos en entrenamientos más exigentes. 
    
    </div>
  </div>
  <br>

</div>

</body>
</html>



