<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proyecto5 Bootstrap</title>
  

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/aos.js"></script>
      <script src="../js/smoothscroll.js"></script>
      <script src="../js/custom.js"></script>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">
     <link rel="stylesheet" href="../css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../css/egogym.css">

</head>
  

<body>

  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="../index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="../index.html#Home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#schedule" class="nav-link smoothScroll">Calendario</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#contact" class="nav-link smoothScroll">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <!---->
                        <div class="btn-group-sm"> 
                            <a href="#" class="btn btn-sm custom-btn bg-color "  data-toggle="modal" data-target="#membershipForm">Inicia Sesión</a> 
                    </li>
                </ul>

            </div>

        </div>

    </nav>
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 class="text-center"></h1>
    </div>
   
  <br>
  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6 card-text-center">
      <h1 class="text-center">¿QUÉ HACE UN FISIOTERAPEUTA?</h1>
      <p style="font-size: 20px; text-align: justify;"> 
        Un buen fisioterapeuta deportivo no sólo cura sobre la lesión, sino gran parte de su trabajo es asesorar
         a los deportistas para que, gracias a una correcta ejecución de los ejercicios y movimientos, puedan evitar lesiones.

      </p>
      <p style="font-size: 20px; text-align: justify;">
        Muchas lesiones se producen por una mala postura repetida continuamente en el tiempo. Corregir y explicar estos errores antes de que
         se produzcan es parte de esta tarea de divulgación y prevención propia del fisioterapeuta deportivo.

        Conocer y anticiparse a las lesiones es parte del compromiso de trabajo de estos profesionales de la salud.</p>

          
      <div class="col-12 col-lg-12 card text-center">
        <a href="https://www.ejemplo.com/agenda" class="btn btn-outline-danger btn-lg">Agenda una cita</a>
        <a href="../index.html#serv" class="btn btn-outline-success btn-lg">Regresar a Servicios</a>
      </div>
    
    <br>
    </div>
       
    <div class="col-12 col-lg-6 card text-center">
      <img src="../images/class/Fisioterapia.jpg" class="img-fluid">
    </div>
  </div>

  <br>
  <br>      

  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>Quemar calorías, quemar grasas y adelgazar :</strong> En muy poco tiempo notarás una notable tonificación del tren inferior, 
      porque el spinning te ayuda a quemar calorías y tonificar glúteos y piernas a gran velocidad. En menos de un mes 
      ya notarás los resultados, y esto constituye una razón muy motivadora para realizar este ejercicio, porque cuanto 
      más sientes que el esfuerzo te hace recoger frutos y obtienes una recompensa visible, más fácil te resulta seguir entrenando
      </p>
    </div>
    <br><br>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong> Fortalecer y tonificar piernas y glúteos:</strong>Las ventajas del spinning para los glúteos y las piernas es evidente. Ayuda a ganar músculo
       y tonificar ambas partes del cuerpo. La práctica continuada del spinning ayuda a moldear y fortalecer ambas. Y a elevar los glúteos proporcionándoles firmeza.

      Esto no solo se traduce en unas piernas y glúteos mejor torneados y estéticamente más bonitos. Las ventajas del spinning para tonificar estas zonas
       del cuerpo hace que sean más fuertes y resistentes. Con mejor movilidad y mayor resistencia al cansancio y el dolor al realizar actividades cotidianas 
       como caminar o trabajar de pie.
      </p>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6 card text-center mb-4">
          <img src="../images/class/Masaje.jpg" class="img-fluid">
      </div>
  
      <div class="col-12 col-lg-6 card text-center mb-4">
          <img src="../images/class/SPA.jpg" class="img-fluid">
      </div>
  </div>
  

    <br><br>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong> Fortalecer la espalda practicando spinning:</strong> Mejorar la fortaleza de la espalda es posible practicando spinning. Si te planteas 
      para qué sirve el spinning exactamente en este sentido debes saber que ayuda a trabajar, tonificar y fortalecer las lumbares, el trapecio y los dorsales.
       Esto es clave para una espalda fuerte, con menos dolor.

      ¿Sabías que, además, ayuda a cuidar la postura? Esto también es clave para evitar dolores de espalda.
      </p>
    </div>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>Mejorar el sistema cardiovascular:</strong> Entre los músculos que mejoran su estado con la práctica del spinning está el más importante 
      de nuestro organismo; el corazón. Al plantearte para qué sirve el spinning exactamente quizá no pensabas en que beneficiaba a este órgano pero 
      efectivamente lo hace.

      ¿En qué ayuda hacer spinning al corazón? Lo fortalece y mejora su resistencia. Ayuda a mantenerlo sano. Y contribuye a la disminución de la tensión arterial. 
    
    </div>
  </div>
  <br>

</div>

</body>
</html>



