<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nutriologo</title>
  

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/aos.js"></script>
      <script src="../js/smoothscroll.js"></script>
      <script src="../js/custom.js"></script>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">
     <link rel="stylesheet" href="../css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../css/egogym.css">

</head>
  

<body>

  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="../index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="../index.html#Home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#schedule" class="nav-link smoothScroll">Calendario</a>
                    </li>

                    <li class="nav-item">
                        <a href="../index.html#contact" class="nav-link smoothScroll">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <!---->
                        <div class="btn-group-sm"> 
                            <a href="#" class="btn btn-sm custom-btn bg-color "  data-toggle="modal" data-target="#membershipForm">Inicia Sesión</a> 
                    </li>
                </ul>

            </div>

        </div>

    </nav>

  
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="text-center"></h2>
    </div>
   
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6 card-text-center">
      <h2 class="text-center">Suplementos Alimenticios?</h2>
      <p style="font-size: 20px; text-align: justify;"> 
        Por sus grandes beneficios en el desempeño físico y el seguimiento de un estilo de vida saludable, los suplementos 
        para el gym se han convertido en un recurso alimenticio muy popular. Con grandes avances de la ciencia e investigaciones,
         la evolución de estos productos ha sido considerable, pero detrás de ellos existe una historia que resulta interesante 
         conocer para entender su efectividad.

         Si quieres saber un poco más sobre los suplementos para el gym, en esta publicación te contamos algunos datos que te 
         ayudarán descubrir por qué son el mejor complemento a un entrenamiento o cualquier actividad deportiva.

      </p>

      <br>
      
          
      <div class="col-12 col-lg-12 card text-center">
        <a href="https://www.ejemplo.com/agenda" class="btn btn-outline-danger btn-lg">Agenda una cita</a>
        <a href="../index.html#serv" class="btn btn-outline-success btn-lg">Regresar a Servicios</a>
      </div>
    

    </div>
       
    <div class="col-12 col-lg-6 text-center">
      <img src="../images/class/CatalogoSuplementos.jpg" class="img-fluid">
      <img src="../images/class/suplementos-para-gym-600x257.png" class="img-fluid">
    </div>
  </div>

  <br>
  <br>      

  <div class="row">
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong>¿QUÉ ES LA CREATINA?</strong> 
      La creatina es un compuesto orgánico que desempeña un papel crucial en el metabolismo energético. 
      Se utiliza para regenerar el ATP (adenosín trifosfato), que es la principal fuente de energía para
       las células musculares durante actividades de alta intensidad y corta duración, como lo puede ser
        una rutina en el gimnasio. Se ha demostrado que consumir creatina ayuda a aumentar la fuerza, el 
        rendimiento y la recuperación muscular. Además de mejorar la capacidad de realizar repeticiones 
        adicionales durante el entrenamiento.

      Si bien la creatina se encuentra de forma natural en el cuerpo humano, ya que se produce en el hígado,
       los riñones y el páncreas; lo hace en cantidades limitadas y puede no ser suficiente para maximizar los beneficios
        relacionados con el rendimiento físico. Por esta razón, muchas personas optan por consumir creatina mediante la 
        suplementación alimenticia, y así aumentar sus niveles disponibles en los músculos. </p>
    </div>
    <br><br>
    <div class="col-12 col-xs-12 col-lg-6">
      <p style="font-size: 20px; text-align: justify;">
      <strong> ¿QUÉ SON LAS PROTEÍNAS?</strong>Las proteínas actúan como uno de los componentes más importantes del cuerpo, 
      ya que desempeñan una amplia variedad de funciones biológicas. Una de las principales es el suministro de los aminoácidos 
      necesarios para la síntesis de proteínas musculares y ayudan a mantener un balance positivo de nitrógeno en el cuerpo, 
      lo que es esencial para el crecimiento y la recuperación muscular. 

      Aunque el consumo proteico adecuado puede lograrse a través de alimentos como el pollo, el pescado, las carnes rojas, 
      algunas legumbres, semillas y frutos secos, el uso de proteínas en polvo representa una forma más fácil, rápida y cómoda de ingerirlas.
      
      
      </p>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 text-center mb-4">
            <img src="../images/class/VentaSuplementos.jpg" class="img-fluid" style="width: 600px; height: auto;">
        </div>
        <div class="col-12 col-lg-4 text-center mb-4">
            <img src="../images/class/Nutricion.jpg" class="img-fluid" style="width: 600px; height: auto;">
        </div>
        <div class="col-12 col-lg-4 text-center mb-4">
            <img src="../images/class/VentaSuplementos.jpg" class="img-fluid" style="width: 600px; height: auto;">
        </div>
      </div>
      
  </div>
</div>
</div>
</body>
</html>

  


