<!DOCTYPE html>
<html lang="en">
<head>

     <title>EGOGYM</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- SCRIPTS -->
      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/aos.js"></script>
      <script src="../../js/smoothscroll.js"></script>
      <script src="../../js/custom.js"></script>

     <link rel="stylesheet" href="../../css/bootstrap.min.css">
     <link rel="stylesheet" href="../../css/font-awesome.min.css">
     <link rel="stylesheet" href="../../css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../../css/egogym.css">
     <style></style>

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">EGO GYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a href="#serv" class="nav-link smoothScroll">Servicios</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Agendar Cita
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Spinning</a></li>
                          <li><a class="dropdown-item" href="#">Fisioterapeuta</a></li>
                          <li><a class="dropdown-item" href="#">Nutriologia</a></li>
                        </ul>
                      </li>
                
                    <li class="nav-item">
                        <a href="#serv" class="nav-link smoothScroll">Buscar</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3 d-none d-lg-flex">
                    <li><a href="https://fb.com/tooplate" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>

                <ul class="navbar-nav ml-lg-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false" >
                          Hola Usuario
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Perfil</a></li>
                        </ul>
                      </li>
                </ul>
            </div>

        </div>
    </nav>

<div class="container">

    <div class="card bg-light" style="margin-top: 99px;">
        <div class="card-header bg-dark text-white">
          Informacion Personal
        </div>
        <div class="card-body row">
            <div class="col-lg-6 col-xs-12  col-sm-12 col-md-6 text-center">
            <img src="../../images/class/boxwax.jpg" class="rounded-circle" alt="..." style="width: 60%;">
          </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                <p class="fst-monospace">Nombre: Anahi Alvarez Holguin</p>
                <p>Correo: alvarezholguin4@gmail.com</p>
                <p>Telefono: 8714023742</p>
                <p>Fecha de Nacimiento: 03/07/2002</p>
                <p>Sexo: Femenino</p>
                <p>Constraseña: *********</p>
                <p>Plan: Gold</p>
                <p>Perido: 2023/06/15 a 2023/07/15</p>
            </div>
        </div>
      </div>


      <div class="card bg-light" style="margin-top: 40px;">
        <div class="card-header bg-dark text-white">
          Historial de Citas
        </div>
        <div class="row">
        <div class="card-body row justify-content-center">
          <div class="card border-ligth col-lg-9 col-11">
            <div class="card-body row">
              <div class="col-lg-4 col-5">
                <p>Id Cita: 500</p>
              </div>
              <div class="col-lg-4 col-7">
                <p>Fecha: 05/07/2023 </p>
              </div>
              <div class="col-lg-4 col-5">
                <p>Hora: 14:00</p>
              </div>
              <div class="col-lg-4 col-7">
                <p>Motivo: Esguince </p>
              </div>
              <div class="col-lg-4 col-6">
                <p>Servicio: Fisioterapia</p>
              </div>
              <div class="col-lg-4 col-6">
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#membershipForm">Ver Detalles</button>
              </div>
            </div>
          </div>


          
          <div class="card border-ligth col-lg-9 col-11" style="margin-top: 10px;">
            <div class="card-body row">
              <div class="col-lg-4 col-5">
                <p>Id Cita: 500</p>
              </div>
              <div class="col-lg-4 col-7">
                <p>Fecha: 05/07/2023 </p>
              </div>
              <div class="col-lg-4 col-5">
                <p>Hora: 14:00</p>
              </div>
              <div class="col-lg-4 col-7">
                <p>Motivo: Esguince </p>
              </div>
              <div class="col-lg-4 col-6">
                <p>Servicio: Fisioterapia</p>
              </div>
              <div class="col-lg-4 col-6">
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#membershipForm">Ver Detalles</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>


<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title" id="membershipFormLabel">Ficha Medica</h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
       <p></p>
      </div>

      <div class="modal-footer"></div>
      
</div>

</body>
</html>
